

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  padding: 0px 50px;
  font: 14px "Raleway","Lucida Grande", Helvetica, Arial, sans-serif;
}
h1,h2,h3,p{
  margin:0;
  font-weight:400;
}
#palkki>a{
  text-decoration:none;
}
#tyonimi{
  margin:20px 0 0 0;
  font-size:30px;
  font-weight:300;
  color:rgb(120,120,120);
  text-transform:uppercase;
}
#osionnimi{
  font-size:22px;
  font-weight:500;
  margin:0 0 30px 0;
  color:rgb(120,120,120);
  text-transform:uppercase;
}
#tyomaanimi{
  margin:20px 0 30px 0;
  color:rgb(80,80,80);
  text-transform:uppercase;
}
a {
  color: #00B7FF;
}
#sivusvg{
  position:absolute;
  top:20px;
  right:20px;
  width:30px;
  z-index:300;
  cursor:pointer;
}
#sivu{
  position:absolute;
  right:0;
  top:0;
  bottom:0;
  width:300px;
  padding:100px 0 0 20px;
  border-left:2px solid rgb(200,200,200);
  background-color:rgb(250,250,250);
  transition:0.5s transform;
  z-index:200;
}
#sivu>a{
  display:block;
  margin:10px 0 0 10px;
}
.sivuoff{
  transform:translateX(100%);
}
.sivuon{
  transform:translateX(0%);
}
#sivu>a{
  font-size:20px;
}
.tyosvg{
  position:absolute;
  top:0;
  width:30px;
}
#yla>svg{
  width:30px;
  text-align:right;
  margin:0 20px 0 0;
  z-index:200;
}
#svg{
  margin:0 0 20px 0;
}
.lisaasvg{
  width:30px;
  cursor:pointer;
}

.poistavaihe{
  width:10px;
  position:absolute;
  top:-5px;
  right:5px;
  cursor:pointer;
  z-index:200;
}
#osiot{
  display:flex;
  justify-content:space-around;
  border-top:1px solid rgb(220,220,220);
  padding:40px 0 0 0;
}
.osio{
  width:160px;
  position:relative;
}

.osio>a{
  text-decoration: none;
  color:rgb(40,40,40);
}
#osiot>*{
  display:inline;
}
.osio>a>div{
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  width:120px;
  height:40px;
  background-color:rgb(230,235,225);
  border:2px solid rgb(100,100,100);
  border-radius:3px;
  text-transform:uppercase;
  padding:20px;
  font-weight:600;
  font-size:20px;
  outline:0px solid rgb(100,100,100)
}
.osio>a>div:hover{
  outline:1px solid rgb(100,100,100);
}
#lisaaosio{
  position:absolute;
  left:50%;
  padding:20px;
  transform:translateX(-50%);
  z-index:300;
}
.off{
  display:none;
}
.on{
  display:block;
}
.palkkityyppi{
  font-size:18px;
}
#vaiheet{
  display:flex;
  margin:0px 0 0 0;
  border-top:1px solid rgb(220,220,200);
  padding:0 0 0 20px;
  width:100%;
}
.vaihe{
  position:relative;
  width:180px;
  height:300px;
  border-radius:3px;
  border:2px solid rgb(80,80,80);
  margin:20px 0 0 10px;
  padding:10px 0px;
  background-color:rgb(240,245,235);
}
.vaihep{
  padding:5px 2px;
  margin:5px 4px;
}
#lisaaVaihe,#luoosio{
  display:inline-flex;
  justify-content:center;
  align-items:center;
  border:2px solid black;
  border-radius:5px;
  background-color:rgb(240,240,240);
  width:70px;
  height:25px;
  cursor:pointer;
  margin:20px 0 0 0;
}
#lisaaVaihe{
  
}
#rivit{
  width:100px;
  padding:10px 0 0 0;
  border-right:1px solid rgb(220,220,220);
  height:300px;
}
#rivit>p{
  padding:5px 5px;
  text-align:right;
  color:rgb(80,80,80);
}
.valinta{
  display:flex;
  align-items:center;
  height:25px;
  width:180px;
  border-radius:5px 5px 5px 5px;
  border:2px solid rgb(100,100,100);
  position:relative;
  padding:0 0 0 4px;
  background-color:rgb(240,240,240);
  color:rgb(120,120,120);
}
.valintac{
  color:rgb(40,40,40);
}
.onoff{
  position:absolute;
  transform:translateY(-14px);
  z-index:200;
}
.uusvalinta{
  margin:0;
  padding:4px 2px;
  width:180px;
  border-left:2px solid rgb(100,100,100);
  border-right:2px solid rgb(100,100,100);
  border-bottom:2px solid rgb(100,100,100);
  border-top:none;
  transform:translateY(-4px);
  background-color:rgb(250,250,250);
  color:rgb(80,80,80);
  cursor:pointer;
}
#uusiVaihe{
    position:absolute;
    left:50%;
    top:150px;
    transform:translateX(-50%);
    padding:30px 20px;
    width:400px;
    background-color:rgb(255,255,255);
    border:2px solid rgb(100,100,100);
    border-radius:10px;
    z-index:200;
}
.vaiheid{
  display:none;
}
#uusiVaihe>svg, #lisaaosio>svg{
  width:20px;
  position:absolute;
  top:0;
  right:10px;
}
#uusiVaihe>input[type="checkbox"]{
  display:inline;
  width:14px;
  height:14px;
  margin:0 5px 0 20px;
}
h3{
  margin:0 0 30px 0;
  font-size:22px;
  font-weight:400;
}

#lisaaosio{
  background-color:rgb(250,250,250);
  border:2px solid rgb(100,100,100);
  border-radius:10px;
}
#uusiVaihe>input,#lisaaosio>input{
  display:block;
  margin:15px 0 0 0;
  border-radius:5px;
  background-color:rgb(240,240,240);
  border:2px solid rgb(100,100,100);
  height:25px;
  width:75px;
  padding:0 2px;
  font-size:14px;
}
#lisaaosio>input{
  width:180px;
}
#tunnisteet{
  margin:0 0 15px 0;
}
#uusiVaihe>p{
  margin:15px 0;
}
#vaiheetel{
  display:flex;
}
#edellinen input{
  margin:5px 0px;
  width:12px;
  height:12px;
}
.muuta{
  display:none;
}
.tyyppi{
  margin:10px 0 0 0;
  font-weight:600;
  font-size:30px;
  text-align:center;
  color:rgb(40,40,40);
  background-color:none;
}
.aihe{
  text-align:center;
  margin: 10px 0 20px 0;
  font-size:24px;
  color:rgb(80,80,80);
  background-color:none;
}
.tayte{
  opacity:0;
}
.vaiherivi{
  padding:0 5px 0 0;
  text-align:right;
}
.vaihenimi,.vaihetunniste{
  border-bottom:1px solid rgb(180,180,180);
}